<div>
  <div style="float:left">
  </div>
  <div>
    <% if user_signed_in? %> 
      <h2><%= image_tag(current_user.image, style:"width:20px; height:20px") %>  <%= current_user.nickname %> </h2> 
      <div>
        <button><a href="/users/[:id]/edit">Mypage</a></button>
        <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
        
      </div>
    <% else %>
      <button><a href="/users/sign_in">login</a></button>
      <button><a href="/users/sign_up">register</a></button>
    <% end %>
  </div>
</div>
<div>

</div>
